<%- include("partials/header") %>

<h1>Compose</h1>
<form action="/compose" method="POST">

    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control" name="postTitle" id="postTitle">
    </div>
    <div class="form-group">
        <label for="postText">Post</label>
        <textarea class="form-control" id="postText" rows="4" name="postBody"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>

</form>
    

    <!-- <input type="text" name="post">
    <button type="submit" name="button">Publish</button> -->


<%- include("partials/footer") %> 